.PIKA {
    text-align: center;
    font-size: 90px;
}

.PIKA-desc {
    text-align: center;
    font-size: 30px;
}

/* https://material.io/guidelines/style/color.html#color-themes */

html, body {
    padding: 0;
    margin: 0;
    background-color: #708090;
    color: #FFFFFF;
    font-family: Arial, "Maven Pro";
}

table.center {
    margin-left:auto;
    margin-right:auto;

    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td, th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

p {
  text-align: center;
}

.list{
  text-align: center;
}


.menu {
    margin: 20px auto 20px auto;
    width: 100%;
    max-width: 600px;
}
